
/* Search Box */
#search-not-found{
	display: none;
}
.hader-photo{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

/* Header Css ================>> */
.__header-wrapper {
    height: 50vh;
    width: 100%;
    background-image: url("../img/header-bg-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
  }
  
/* photo-media screen */
@media screen and (max-width: 767px) {
    .hader-photo {
        margin-left: 30px;
      width: 70%;
      display: flex;
      justify-content: center;
    }
    .header button {
      margin-top: 2rem;
    }
  }
/* Spinner section  */
#spinnner-below-search{
	display: none;
}


/* Search Result Section */
#load-more-button{
	display: none;
}

/* Phone Details */
#phone-details{
	display: none;
}

/* Load More Below Section */
#spinnner-below-load-more{
	display: none;
}

/* Media Query */
@media (max-width: 600px) {
	#search{
		width: 75% !important;
	}
	
}